{% extends "padre_2.html" %}

{%  load static %}


{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" >
                    <img src="{%  static 'app_coder/assets/img/marx.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Karl Heinrich Marx</h5>
                      <h3>Director</h3>
                      <p class="card-text">Es economista, filósofo, sociólogo, periodista, intelectual y político comunista alemán de origen judío</p>
                     
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" >
                    <img src="{%  static 'app_coder/assets/img/pepe.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">José Alberto Mujica Cordano</h5>
                      <h3>Vicedirector</h3>
                      <p class="card-text">Es un ciclista, exguerrillero y político uruguayo. Fue el 40.º presidente de Uruguay entre 2010 hasta 2015.</p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" >
                    <img src="{%  static 'app_coder/assets/img/testimonials-3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pepe Lopez</h5>
                      <h3>Secretaria</h3>
                      <p class="card-text">Estudiante de bibliotecología en la UBA y licenciada en psicología </p>
                      
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" >
                    <img src="{%  static 'app_coder/assets/img/testimonials-2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Juan Morres</h5>
                      <h3>Coordinador</h3>
                      <p class="card-text">No hace nada, es sobrino de pepe</p>
                      
                    </div>
                </div>
            </div>
        </div>


    </div>




    

{% endblock %}
